// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e6e6e6;
@light-gray: #969896;
@medium-gray: #6a6a6a;
@gray: #3c3f41;
@dark-gray: #2c2a28;
@very-dark-gray: #181818;

@mercury: #e6e6e6;
@cyan: #64c8ff;
@blue: #66ffff;
@green: #00ff00;
@red: #e50000;
@yellow: #ffff66;

@darkRed: #990000;
@selectionBlue: #0080ff;
@selectionYellow: #ddaa44;

@purple: #b294bb;
@orange: #de935f;
@light-orange: #f0c674;

@gutter-gray: #232323;
