// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e6e6e6;
@light-gray: #969896;
@medium-gray: #6a6a6a;
@gray: #3c3f41;
@dark-gray: #2c2a28;
@very-dark-gray: #181818;

@gutter-gray: #232323;

@mercury: #e6e6e6;
@cyan: #66f1fa;
@blue: #4848DA;
@green: #4DD80A;
@red: #FF242D;
@yellow: #EFE84D;

@darkRed: #990000;
@selectionBlue: #0080ff;
@selectionYellow: #ddaa44;

@purple: #D46DEF;
@orange: #de935f;
@light-orange: #f0c674;
