// These colors are specific to the theme. Do not use in a package!

// Old grays
@very-light-gray: #e6e6e9;
@light-gray: #969898;
@medium-gray: #6a6b6f;
@gray: #3c3f41;
@dark-gray: #2c2a28;
@very-dark-gray: #18191b;

// New grays
@gray100: #f7fafc;
@gray200: #edf2f7;
@gray300: #e2e8f0;
@gray400: #cbcfd0;
@gray500: #aea8aa;
@gray600: #74707f;
@gray700: #4f4a52;
@gray800: #2c2830;
@gray900: #221d24;
@gray950: #18121b;

@gutter-gray: #232629;

@mercury: #e6e6e6;
@cyan: #76D7EA;
@blue: #4570E6;
@green: #3AA655;
@red: #FE4C40;
@yellow: #FBE870;

@darkRed: #ED0A3F;
@selectionBlue: #408cbf;
@selectionAlpha: hsla(180, 5%, 60%, 0.4);
@selectionYellow: #ddaa44;

@purple: #F653A6;
@orange: #FCD667;
@light-orange: #FF3399;
